.idea
*.log
*.sql
*.sqlite
.DS_Store
.ftpquota
error_log
robots.txt
wp-admin/error_log
*.json
!package-lock.json
!package.json
*.html
post_by_rest_api.php
.hcflag
*.zip
node_modules/
node_modules/*
includes/theme-functions/gutenberg_custom_blocks/node_modules/
includes/theme-functions/gutenberg_custom_blocks/node_modules/*