@import 'commons';
@import './components/common/breadcrumbs';
@import './components/common/mainContent';
@import './components/common/topFourCasinos';
@import './components/blog/preview';
@import './components/category/things';
@import './components/casino/bonusSlider';
@import './components/category/steps';
@import './components/bonus/plusesMinuses';
section:first-of-type {
    margin: 0 auto;
}

section.lastPosts {
    margin-bottom: 0;
}

.topFourCasinos {
    margin-bottom: 60px;
}